.contrast-checker {
  background-color: black;
  padding: 8px;
  border-radius: 5px;
  color: white;
  margin: 0 0 5px 0;
  width: fit-content;
  display: inline-block;
  border: 1px solid white;
}

.contrast-checker .result {
  font-weight: bold;
}

.contrast-checker .result.high-contrast {
  color: #00ff00;
}

.contrast-checker .result.medium-contrast {
  color: yellow;
}

.contrast-checker .result.low-contrast {
  color: red;
}
